body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #F4F6FF;
}

h1 {
  color: #F38181;
  font-family: 'Merienda', cursive;
  font-size: 5rem;
  line-height: 1;
  margin: 50px auto 60 auto;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #F38181;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #F38181;
  margin: 0 auto 0 auto;
  line-height: 2;
}

p {
  line-height: 2;
}
a {
  color: #F38181;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  color: #f6a6a6;
}
hr {
  border-top: 10px dotted #B9E1DC;
  width: 10%;
}

.p-hola {
  color: #756C83;
  text-align: left;
}

.p-my-skills {
  color: #756C83;
  text-align: left;
}

.p-my-portfolio {
  color: #756C83;
  text-align: left;
}

.p-get-in-touch {
  color: #756C83;
  margin: 40px auto
}

.p-copyright {
  color: #F38181;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  width: 50%;
  position: relative;
  margin: auto
}

.bottom-container {
  background-color:#fdefef;
  position: relative;
  padding: 20px 0;
}

.hola {
  margin: 50px auto 50px auto;
}

.my-skills {
  margin: 50px auto 50px auto;
}

.my-portfolio {
  margin: 50px auto 50px auto;
}

.get-in-touch {
  margin: 50px auto 50px auto;
}

.navilinks {
  margin: 0;
  padding: 0;
  }

.navilinks li {
  display: inline-block;
  padding: 20px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.my-avatar-img{
  width: 20%;
  max-width: 50%;
  height: auto;
  margin: 10px auto 30px auto;
}

.my-skills-img{
  float: left;
  width: 20%;
  max-width: 50%;
  height: auto;
  margin: 10px 30px 30px auto;
}

.my-portfolio-img{
  float: right;
  width: 20%;
  max-width: 50%;
  height: auto;
  margin: 10px auto 30px 30px;
}

.BUTTON_BSU {
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   height: 0;
   line-height: 0;
   color: #B9E1DC;
   font-family: 'Merriweather Sans', sans-serif;
   width: 129px;
   font-size: 21px;
   font-weight: 200;
   padding: 29px;
   background-color: #aca6b4;
   border: solid #B9E1DC 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_BSU:hover {
   background: #fdefef;
   border: solid #FB8B8B 1px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   text-decoration: none;
}
